build==1.3.0
fastnumbers==5.1.1
llvmlite==0.44.0
numba==0.61.2
numpy==2.2.6
orjson==3.11.3
packaging==25.0
prompt_toolkit==3.0.52
pyproject_hooks==1.2.0
pysimdjson==7.0.2
setuptools==80.9.0
wcwidth==0.2.13
websocket-client==1.8.0
wheel==0.45.1
